app:
  scheduler:
    check-update-interval: 20s
    send-update-interval: 2s
  github:
    token: ${GITHUB_TOKEN} # env variable
    base-uri: https://api.github.com
    page-size: 100
  stackoverflow:
    key: ${SO_TOKEN_KEY}
    access-token: ${SO_ACCESS_TOKEN}
    base-uri: https://api.stackexchange.com/2.3
    page-size: 100
  bot:
    base-uri: http://localhost:8080

  batch-size: 1000
  access-type: SQL
  message-transport: Kafka
  http-timeout: 3000

kafka:
  link-updates:
    topic: link-update
    partitions: 1
    replicas: 1

spring:
  application:
    name: Scrapper
  datasource:
    url: jdbc:postgresql://localhost:5432/scrapper
    username: postgres
    password: postgres
  liquibase:
    enabled: false
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
  kafka:
    bootstrap-servers: localhost:19092
    producer.properties:
      acks: 1
      batch.size: 1024
      linger.ms: 10000
    cloud.zookeeper:
      config.enabled: false
      connect-string: localhost:2181

server:
  port: 8081

springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui

logging:
  file:
    name: scrapper-log.json
  structured:
    format:
      file: ecs

resilience4j.ratelimiter:
  instances:
    rateLimiter:
      limitForPeriod: 3
      timeout-duration: 1s
      limitRefreshPeriod: 5s

retry-codes:
  instances:
    - github
    - so
    - bot
  codes:
    - 500
    - 429

resilience4j.retry:
  instances:
    github:
      maxAttempts: 3
      waitDuration: 1000
      exponential-backoff-multiplier: 2
      enable-exponential-backoff: true
      ignoreExceptions:
        - backend.academy.scrapper.exceptions.ApiGitHubErrorResponseException
    so:
      maxAttempts: 3
      waitDuration: 1000
      exponential-backoff-multiplier: 2
      enable-exponential-backoff: true
      ignoreExceptions:
        - backend.academy.scrapper.exceptions.ApiStackOverflowErrorResponseException
    bot:
      maxAttempts: 3
      waitDuration: 1000
      exponential-backoff-multiplier: 2
      enable-exponential-backoff: true
      ignoreExceptions:
        - backend.academy.scrapper.exceptions.ApiBotErrorResponseException
    resistantLinkTracker:
      maxAttempts: 1
      ignoreExceptions:
        - backend.academy.scrapper.exceptions.ApiBotErrorResponseException

resilience4j.circuitbreaker:
  instances:
    cb1:
      slidingWindowType: COUNT_BASED
      minimumNumberOfCalls: 1
      slidingWindowSize: 1
      failureRateThreshold: 100
      waitDurationInOpenState: 1s
      permittedNumberOfCallsInHalfOpenState: 1
